
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .logo {
    margin-left: 5%;
    float: left;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
  }

  .home-btn{
    color: white;
  }
  
  .nav-links {
    list-style-type: none;
    margin-top: 24px;
    float: right;
    margin-right: 5%;
    cursor: pointer;
  }
  

  
  .nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    background-color: gray;
    color: black;
  }
  
  .home-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  